* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle at top left, #004d66b7, transparent 50%),
        radial-gradient(circle at bottom right, #ff006663, transparent 52%),
        #001533;
}




.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #001F3F;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: transparent;
    border: 2px solid #2980b9;
    border-radius: 4px;
    font-size: 1rem;
    color: #ffffff;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #3498db;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

.container p {
    text-align: center;
    font-size: 1.2rem;
}

.container a {
    color: #3498db;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
        margin: 50px auto;
        padding: 15px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 12px;
        font-size: 1rem;
    }

    button {
        padding: 12px;
        font-size: 1rem;
    }

    .container h2 {
        font-size: 1.5rem;
    }

    .container p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .container h2 {
        font-size: 1.3rem;
    }

    input[type="text"],
    input[type="password"],
    button {
        font-size: 0.9rem;
    }
}